<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %} Blog {% endblock %}</title>
</head>
<body>
  <header>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="/post/">New post</a>
      <a href="/feed/">Feed</a>
      <a href="/logout/">Logout</a>
    {% else %}
    <a href="/login/">Login</a>
      <a href="/register/">Register</a>
    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
